# Created by .ignore support plugin (hsz.mobi)
Würde .gitignore löschen
Würde .idea/ löschen
/config/_people.php
/css/font-awesome/
/composer.json
/composer.lock
Würde .idea/workspace.xml löschen
Würde composer.json löschen
Würde composer.lock löschen
Würde db/ löschen
Würde js/jquery-3.2.1.min.js löschen
Würde js/jquery-3.2.1.slim.min.js löschen
Würde js/jquery.daterangepicker.js löschen
Würde js/moment.min.js löschen
Würde vendor/ löschen
